body { 
    background-color: #fca6c9;
    color: white;
    text-align: center;
    width: 35%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif
}

#title {
    text-align: center;
    color: white;
}

#title:hover {
    color: black;
}

h2 {
    
}

ol {
    text-align: left;
    margin-left: 0;
    padding-left: 15px;
    color: black;

}

#title {
    text-align: center;
    color: white;
}

img {   
    display: block;
    max-width: 120px;
    margin: auto;
}

h6 {
    color: black;
}